
<head>
    <meta charset="UTF-8">
<title>Name Oracle</title>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/styles/main.css">
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

