<nav>
    <ul>
        <li class="interactive" ><a href="/">Home</a></li>
        <li class="interactive"><a  href="/about">About this tool</a></li>
        <li class="interactive"><a  href="/contact">Contact me</a></li>
    </ul>
</nav>