<div class="menu-wrapper">
    <header class="header">
     <button aria-expanded = "false" class="menu-btn buttonstyle" id="menu-btn">☰</button>
     <nav class="main-nav" id="main-nav">
     <ul class="menulist">
      <li class="home-item">      <a href="/" class="menu buttonstyle home">Home</a>      </li>
       <li><a class="menu buttonstyle" href="/about">About</a></li>
       <li><a class="menu buttonstyle" href="/contact">Contact</a></li>
       <li><a class="menu buttonstyle" href="/blog">Blog</a></li>
     </ul>
    </nav>
   </header>
   <script src="scripts/menubutton.js"></script>
   </div>
