<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">

<title>Name Oracle</title>
<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/typewriter.css">
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<meta property="og:title" content="The Name Oracle" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.nameoracle.org" />
<meta property="og:image" content="/images/nameoraclemeta.png" />
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KW5XYJ9816"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KW5XYJ9816');
</script>
</head>

