/* @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Delius&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
  }

  html, body {
    min-height: 95vh;
  }
body {
    font-family: 'Dekko', cursive;
    background-image: url("graph-paper-background.jpg");
    background-repeat: repeat;
    background-size: 200px 200px;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-size: 1.7em;
    line-height: 1.5;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.intro {
    width: 95%;
    margin: auto;
    text-align: center;
}


.intro img {
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.question-body {
    text-align: center;
}

.inpage-button {
    display: inline-block;
    margin: 35px auto;
    color: black;
    font-size: 1.7em;
    line-height: 1.2;
    border: 3px solid black;
    padding: 0 25px;
    border-radius: 8px;
    text-decoration: none;
    background: none;
}

.image-button {
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
}

.image-button img {
    width: 50px;
}

.interactive {
    box-shadow: 3px 3px 0 0 rgb(43, 43, 43);
    position: relative;
    top: 0px;
    left: 0px;
    transition: top 250ms ease, left 250ms ease;
}

*:focus {
    outline: 2px solid black;
}

#go:hover, select:hover, nav li:hover, .button-list li:hover, .interactive:hover{
    box-shadow: 1px 1px 0 0 rgb(43, 43, 43);
    position: relative;
    top: 2px;
    left: 2px;
    transition: top 250ms ease, left 250ms ease;
}

select {
    appearance: none;
    border: 3px solid black;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    cursor:pointer;
    text-transform: capitalize;
    text-align: center;
}

.results-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
/* .results-wrapper::before {
    content: "";
    width: 50px;

} */

.results-main {
    margin: 0 25px;
}
@media screen and (max-width: 700px){
    select {
        display: block;
        margin: auto;
    }

}
/* select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: black;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  } */

option {
    background-color: transparent;
}

h1{
    font-size: 3.5rem;
    font-weight: 400;
}

nav ul , .button-list{
    list-style: none;
    display: flex;
}

nav ul {
    justify-content: flex-end;

}

.button-list {
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}



nav li , .button-list li{
    margin: 0 25px;
    border: 2px solid black;
    border-radius: 8px;
}

.button-list li:first-child {
    margin-left: 0;
}

nav li a , .button-list a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 15px;
}

.bodytext {
    font-size: 0.8em;
    min-width: 50%;
    max-width: 700px;
    margin: auto;
}

.bodytext p, .bodytext li {
    text-align: left;
}

.bodytext.center{
    text-align: center;
}

.results {
    display: block;
    margin: auto;
    width: max-content;
    border: 3px solid black;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5em;
    text-transform: capitalize;
    padding: 0 40px;
}

.results.many{
    columns: 2;
    padding-top: 20px;
    font-size: 1em;
}

.results p {
    margin: 12px;
}
@media screen and (max-width: 700px) {
 .results {
     columns: 1;
     min-width: 0px;
     width: 95%;
 }
}

.results.many > p:first-child {
    margin-top: 0;
}


.button-styles li{
    list-style: none;
    margin: 0 12px;
}

.button-styles li a {
    margin: 12px 0;
}

.button-styles {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

main {
    margin-bottom: 150px;
}

footer {
    margin-top: auto;
    width: 100%;
    min-height: 200px;
    text-align: center;
}

.mailer {
    margin: auto;
    max-width: 600px;
}

.mailer input {
    display: block;
    margin: auto;
    min-width: 250px;
    min-height: 40px;
    font-family: 'Dekko', cursive;
    font-size: 1em;
    padding: 8px;
    background: none;
    border: 2px solid black;
    border-radius: 8px;

}

#mc-embedded-subscribe {
    font-family: 'Dekko', cursive;
    font-size: 1.2em;
}