@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
  }

body {
    font-family: 'Itim', cursive;
    background-image: url("graph-paper-background.jpg");
    background-repeat: repeat;
    background-size: 200px 200px;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-size: 2em;
    line-height: 1.5;
    text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.intro {
    margin-top: 100px;
    width: 100%;
    text-align: center;
}


.intro img {
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.question-body {
    text-align: center;
}

.inpage-button {
    display: inline-block;
    margin: 50px auto;
    color: black;
    font-size: 1.7em;
    line-height: 1.2;
    border: 3px solid black;
    padding: 0 25px;
    border-radius: 5px;
    text-decoration: none;
}

*:focus {
    outline: 2px solid black;
}

#go:hover, select:hover, nav li:hover, .button-list li:hover{
    box-shadow: 3px 3px 0 0 rgb(43, 43, 43);
}

select {
    appearance: none;
    border: 3px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    cursor:pointer;
    text-transform: capitalize;
    text-align: center;
}

/* select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: black;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  } */

option {
    background-color: transparent;
}

h1{
    font-size: 3.5rem;
    font-weight: 400;
}

nav ul , .button-list{
    font-size: 0.8em;
    list-style: none;
    display: flex;
}

nav ul {
    justify-content: flex-end;

}

.button-list {
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}



nav li , .button-list li{
    margin: 0 25px;
    border: 2px solid black;
    border-radius: 10px;
}

.button-list li:first-child {
    margin-left: 0;
}

nav li a , .button-list a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 15px;
}

.bodytext {
    font-size: 0.8em;
    min-width: 50%;
    max-width: 700px;
    margin: auto;
}

.results {
    display: block;
    margin: auto;
    min-width: 30%;
    width: 200px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    text-transform: capitalize;
}