<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %> 
    <main>
    <div class="bodytext">
        <h1>Contact</h1>
        <p class="center">The Name Oracle is made by me, Michael. On some parts of the internet I go by Paper Dragon. You can find me here:</p>
        <ul class="button-styles">
            <li><a class="interactive inpage-button" href="https://github.com/tichaelmurvey/">Github</a></li>
            <li><a class="interactive inpage-button" href="https://twitter.com/paperdragonst">Twitter</a></li>
            <li><a class="interactive inpage-button" href="mailto:mail@PaperDragon.studio">Email</a></li>
        </ul>
    </div>
</main>
    <%- include('../partials/footer'); %>

</body>
</html>