<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %> 
    <main>
    <div class="bodytext">
        <h1>Welcome</h1>
        <p>Darkest salutations. You are now subscribed to my email list.</p>
    </div>
</main>
    <%- include('../partials/footer'); %>

</body>
</html>