/* @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Delius&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dekko&display=swap');

:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
  }

  html, body {
    min-height: 95vh;
  }
body {
    font-family: 'Dekko', cursive;
    background-image: url("graph-paper-background.jpg");
    background-repeat: repeat;
    background-size: 200px 200px;
    background-color: #fff;
    margin: 0 20px;
    padding: 0;
    /* font-size: 1.7em; */
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Button appearance */

.buttonstyle {
    text-decoration: none;
    background-color: transparent;
    color: black;
    padding: 5px 15px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 3px 3px 0 0 rgb(43, 43, 43);
    position: relative;
    top: 0px;
    left: 0px;
    transition: top 250ms ease, left 250ms ease;
}

.buttonstyle:hover {
    box-shadow: 1px 1px 0 0 rgb(43, 43, 43);
    position: relative;
    top: 2px;
    left: 2px;
    transition: top 250ms ease, left 250ms ease;
}

.menu, .home {
    margin: 0 25px;
}

.intro {
    width: 95%;
    margin: auto;
    text-align: center;
}


.intro img {
    width: 120px;
}

.header {
    position: relative;
    width: 100%;
    z-index: 3;
  }
   
  .header ul {
    list-style: none;
  }

  .header .home-item {
    margin-right: auto;
  }

@media only screen and (min-width: 768px) {
    .menu-wrapper{
        width: 100%;
        margin-bottom: 30px;
    }
  .main-nav {
    float: right;
    width: 100%;
  }
  ul.menulist {
    display: flex;
    flex-wrap:wrap;
    justify-content:flex-end;
    align-items: center;
  }
  .header .menu-icon {
    display: none;
  }
  .header .menu-btn {
    display: none;
  }
}
  
@media only screen and (max-width: 768px) {
    nav.main-nav {
        display: none;
        margin-bottom: 30px;
    }
    .menu-btn {
        display: block;
        background-color: transparent;
        margin-left: auto;
        margin-right: 20px;
        /* border: none; */
        font-size: 1.3em;
        margin-top: 20px;
        color: black;
    }
    ul.menulist {
        display: block;
        width: 100%;
        margin: auto;
        padding: 0 20px;
    }
    .menulist li {
        display: block;
        width: 100%;
        margin: 15px auto;
    }
    .menulist li a {
        display: block;
        width: 100%;
        margin: auto;
    }
}
.question-body {
    text-align: center;
}

.inpage-button {
    display: inline-block;
    font-size: 1.7em;
    line-height: 1.2em;
    margin: 30px auto;
    padding: 0 25px;
}

.image-button {
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
}

.image-button img {
    width: 50px;
}

*:focus {
    outline: 2px solid black;
}

select {
    display: inline;
    appearance: none;
    border: 3px solid black;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    cursor:pointer;
    text-transform: capitalize;
    text-align: center;
}

.results-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
/* .results-wrapper::before {
    content: "";
    width: 50px;

} */

.results-main {
    margin: 0 25px;
}

/* select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: black;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  } */

option {
    background-color: transparent;
}

h1{
    font-size: 3.5rem;
    font-weight: 400;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
}

.button-list {
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    list-style: none;
    display: flex;
}

.button-list li:first-child {
    margin-left: 0;
}

.bodytext {
    font-size: 0.8em;
    min-width: 50%;
    max-width: 700px;
    margin: auto;
}

.bodytext p, .bodytext li {
    text-align: left;
}

.bodytext .center{
    text-align: center;
}

.results {
    display: block;
    margin: auto;
    /* width: max-content; */
    border: 3px solid black;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5em;
    text-transform: capitalize;
    padding: 0 40px;
}

.results.many{
    padding-top: 20px;
    font-size: 1em;
    max-width: 90%;
}

@media only screen and (min-width: 768px){
    .results.many {
        columns: 2;
    }
}

.results p {
    margin: 12px;
}
@media screen and (max-width: 700px){
    select {
        display: block;
        margin: auto;
    }
}

@media screen and (max-width: 700px) {
 .results {
     columns: 1;
     min-width: 0px;
     width: 95%;
 }
}

.results.many > p:first-child {
    margin-top: 0;
}


.button-styles li{
    list-style: none;
    margin: 0 12px;
}

.button-styles li a {
    margin: 12px 0;
}

.button-styles {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

main {
    margin-bottom: 150px;
}

footer {
    margin-top: auto;
    width: 100%;
    min-height: 200px;
    text-align: center;
}

.mailer {
    margin: auto;
    max-width: 600px;
}

.mailer input {
    display: block;
    margin: auto;
    min-width: 250px;
    min-height: 40px;
    font-family: 'Dekko', cursive;
    font-size: 1em;
    padding: 8px;
    background: none;
    border: 2px solid black;
    border-radius: 8px;

}

#mc-embedded-subscribe {
    font-family: 'Dekko', cursive;
    font-size: 1.2em;
}


