<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %> 
    <main>
    <div class="bodytext">
        <h1>About</h1>

        <p>This site was made with love by Michael Turvey.</p>
        <p>You can find Michael on:</p>
        <ul class="button-styles">
            <li><a class="interactive inpage-button" href="https://github.com/tichaelmurvey/">Github</a></li>
            <li><a class="interactive inpage-button" href="https://twitter.com/tichaelmurvey">Twitter</a></li>
            <li><a class="interactive inpage-button" href="mailto:hello@michaelturvey.online">Email</a></li>
        </ul>
    </div>
</main>
    <%- include('../partials/footer'); %>

</body>
</html>